@font-face{
  font-family: alex-brush;
  src: url('../font/AlexBrush-Regular.ttf')
}
@font-face{
  font-family: allura;
  src: url('../font/Allura-Regular.otf')
}
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}

hr.h1{
  border: 1pt solid #13abc4!important;
  width: 5%;
  margin-top: -1rem !important;
  margin-bottom: 2rem;
}
/* navbar */
.navbar-brand{
    font-size: 24pt;
    font-family: allura;
    color: #13abc4 !important;
    margin: 0 2rem;
}
.navbar-collapse ul{
  margin: 0 2rem;
}
.navbar-collapse ul li{
    padding: 10px;
}
.nav-link:hover{
  color: #13abc4 !important;
}
.nav-link:hover::after{
  content: '';
  display: block;
  border-bottom: 2px solid #13abc4;
  width: 50%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -7px;
}



/* jumbotron */
.jumbotron{
    background-image: url('../img/ana-baru.jpg');
    background-size: cover;
    position: relative;
}
.jumbotron .container{
    margin-top: 10rem;
    color: white;
    position: relative;
    z-index: 1;
}
.icon-jumbotron a{
    text-decoration: none;
}
.icon-jumbotron .fa{
    margin-top: 2rem;
    margin-left: .5rem;
    margin-right: .5rem;
    font-size: 100%;
    color: white;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    padding: 10px 5px 5px 5px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}
.icon-jumbotron .fa:hover{
    color: #00ac8f;
    border: 1px solid white;
    background-color: white;
}
.jumbotron::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #13acc475;
    position: absolute;
    bottom: 0;
}
.style-banner-content {
    font-size: 40px !important;
    margin-top: 1rem;
}
strong{
  border: 1px solid white;
  border-radius: 7px;
  padding: 5px 10px 5px 10px;
  background-color: white;
  color: #00ac8fd2;
  margin-bottom: 2rem;
}

/* about Me */
.about{
  background-color: white;
  margin-top: -2rem;
}
h2{
    width: 100%;
    margin: auto;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}
.about hr{
    border: .5px solid #999;
    margin-top: 3rem;
}
.about h3{
  margin-bottom: 1rem;
}
.about p{
  width: 85%;
  line-height: 25px;
  margin-bottom: 2rem;
}
.about-me p{
  width: 100%;
}
.about button{
  margin-top: 1.5rem;
}
.about img{
  width: 85%;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

/* Hobbies */
.hobbies{
    background-color: #f5f5f5;
}
svg{
    margin: auto;
    margin-top: 1rem;
}
path,rect,ellipse{
    fill: #00ac8f;
}
.hobbies .card{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    box-shadow: 0 0 20px #999;
    background-color: #fff;
}
h3{
    text-align: center;
}
.hobbies .card:hover{
  margin-top: 5px;
  border-bottom: 2pt solid #00ac8f;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

/* Emoji */
.fun.btn{
  width: 100%;
  border-radius: 0;
}
img.gif{
  max-width: 40%;
  margin-bottom: 2rem;
}
.emojiku img{
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -o-transform:scale(1);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    opacity: 1;
    margin-top: 2rem;
}
.emojiku img:hover{
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  opacity: 1;
}

/* Skills */
.skills{
  background-image: url('../img/aaaaaaaaa.jpg');
  background-size: cover;
}
.skils-ku svg{
  margin-top: 1.2rem;
  width: 40px;
  height: 40px;
}
.skils-ku path{
  fill: white;
}
.skils-ku{
  border: 3pt solid #34699a;
  background-color: none;
  margin-bottom: 2rem;
  width: 180px;
  height: 180px;
  border-radius: 100%;
  margin: auto;
} 
.border{
  background-color: #34699a;
  border: 2pt solid #34699a !important;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: auto;
  margin-top: 3rem;
  --hover: #13acc463;
}
.skills h2{
  color: #fff;
}
.skills h3{
  color: #13abc4;
  font-style: italic;
  margin-top: 1rem
}
.skills h4{
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #fff;
}

.skills p{
  width: 75%;
  margin: auto;
  margin-bottom: 2rem ;
  color: white;
}
.skils-ku:hover{
  border: 3pt solid #13abc4;
}
.border:hover,
.border:focus {
  background-color: #13abc4;
  border: 2pt solid #13abc4 !important;
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  box-shadow: 0 0 2em 3em rgba(69, 175, 236, 0);
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
  25% {
    box-shadow: 0 0 0 1em var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
  25% {
    box-shadow: 0 0 0 1em var(--hover);
  }
}

/* blog */  
.display-2{
font-weight: 400;
color: #00ac8f;
}
.carousel-caption{
position: absolute;
top: 50%;
transform: translateY(-50%);
}
.item img{
  width: 100px;
}
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
}

/* experience
.experience{
  margin-top: 2rem;
}
.experience .fa{
  margin-top: 1rem;
  font-size: 100%;
  color: #00ac8f;
  border: 1px solid #00ac8f;
  width: 40px;
  height: 40px;
  padding: 10px 5px 5px 5px;
  border-radius: 50%;
  padding-left: 10px;
  margin-left: 2rem;
  margin-bottom:1rem;
}

.fa-graduation-cap#dua, .fa-graduation-cap#tiga{
  margin-top: 0 !important;
}
.garis-vertikal{
  margin-top: -1rem ;
  margin-left: 3rem;
  color: #00ac8f !important;
}
.sd{
  margin-top: 1.5rem;
}
.smp{
  margin-top: 5rem;
}
.smk{
  margin-top: 5.5rem;
}
*/

/* team */
#team_area{
  background-image: url('../img/bg-skils.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-height: 500px;
}
.single_team{
  background-color: white;
  padding: 30px;
  margin-top: 3rem;
  position: relative;
  display: block;
}
.single_team .team-tittle{
  font-size: 16px;
  font-weight: 700;
  color: #00ac8f;
  margin-top: 25px;
  margin-bottom: 5px;
  text-transform: capitalize;
  letter-spacing: 1px;
  
}
.single_team .test_designation{
  display: block;
  font-size: 13px;
  margin: 0 0 10px;
  font-weight: 400;
}
.single_team .pic{
  width: 70px;
  height: 70px;
  position: absolute;
  top:-34px;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  right: 0;
  z-index: 1;
}
.single_team .pic img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
#team_area .owl-prev, 
#team_area .owl-next{
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  background-image: linear-gradient(-45deg,rgba(97, 212, 203, 0.8) 0,rgba(12, 151, 151, 0.8) 40%,rgba(13, 107, 114, 0.8) 100%);
  position: absolute;
}
#team_area .owl-prev{
  left: 0;
  bottom: -30px;
}
#team_area .owl-next{
  right: 0;
  bottom: -30px;
}

/* project */
.project_theme {
  position: relative;
  -webkit-transition: all 0.45s ease-in-out;
   -moz-transition: all 0.45s ease-in-out;
   -o-transition: all 0.45s ease-in-out;
   -ms-transition: all 0.45s ease-in-out;
   transition: all 0.45s ease-in-out;
}
.project-contain {
   position: absolute;
   top: 50%;
   width: 100%;
   margin-top: -50px;
   opacity: 0;
   color:#ffffff;
  
}
.project_theme figure figcaption {
   position: absolute;
   bottom: 0;
   width: 100%;
   text-align: right;
   right:0;
   z-index: 2;
   opacity: 0;
   visibility: hidden;
   -webkit-transition: all 0.45s ease-in-out;
   -moz-transition: all 0.45s ease-in-out;
   -o-transition: all 0.45s ease-in-out;
   -ms-transition: all 0.45s ease-in-out;
   transition: all 0.45s ease-in-out;
}
.project_theme figure figcaption a i {
   color: #fff;
   font-size: 20px;
   display: inline-block;
   -webkit-transition: all 0.45s ease-in-out;
   -moz-transition: all 0.45s ease-in-out;
   -o-transition: all 0.45s ease-in-out;
   -ms-transition: all 0.45s ease-in-out;
   transition: all 0.45s ease-in-out;
   padding: 10px 10px 5px;
   background-color: #000;
}
.project_theme:hover.project_theme figure figcaption {
   opacity: 1;
   visibility: visible;
}
span.project_like {
   margin-left: 10px;
}
.project_sec .project_secs{
margin-bottom: 30px;
}
.project-contain h5{
margin-bottom:10px;
}
.project_theme figure:after {
   content: "";
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   position: absolute;
   z-index: 1;
   opacity: 0;
   visibility: hidden;
   -webkit-transition: all 0.45s ease-in-out;
   -moz-transition: all 0.45s ease-in-out;
   -o-transition: all 0.45s ease-in-out;
   -ms-transition: all 0.45s ease-in-out;
   transition: all 0.45s ease-in-out;
 background: #15bda1;
}
.project_theme:hover .project-contain{
opacity: 1;	
z-index:2;
}
.project_theme:hover.project_theme figure:after {
   opacity: 0.8;
 visibility: visible;
} 


/* contact */
.contact{
  background-color:  #f5f5f5;
}

iframe{
  width: 100%;
  border-radius: 10px;
}
/* footer */
footer{
  background-color: #444;
}
.footer p{
  margin-top: 1.5rem;
  color: white;
}
.icon-footer{
  float: right;
}
.icon-footer .fa{
  margin-top: 1rem;
  margin-left: .5rem;
  margin-right: .5rem;
  margin-bottom: 1rem;
  float: left;
  font-size: 100%;
  color: white;
  border: 1px solid white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding : 10px 0 0 12px;

}
.icon-footer .fa:hover{
  color: #00ac8f;
  border: 1px solid white;
  background-color: white;
}
.icon-footer a{
  text-decoration: none;
}


@media (max-width: 500px) {
  .carousel-caption{
      position: absolute;
      top: 25%;
      transform: translateY(-25%);
  }
  .carousel-caption h1{
      font-size: 200%;
      text-transform: uppercase;
      font-weight: 500;
      color: #00ac8f;
      text-shadow: 1px 1px 10px #ffffff70;
  }
  .carousel-caption h3{
      font-size: 100%;
      text-shadow: 1px 1px 10px #000000ee;
  }
  .btn{
      font-size: 70%;
      padding: 2%;
  }
  p{
      font-size: 80%;
  }

  #emoji img{
      width: 20%;
  }
  h2{
    font-size: 30px;
    width: 100%;
  }
  hr.h1{
    border: 1pt solid #13abc4!important;
    width: 10%;
    margin-top: -1rem !important;
    margin-bottom: 2rem;
  }

}
@media (max-width: 768px) {
  .carousel-caption{
    position: absolute;
    top: 25%;
    transform: translateY(-25%);
}
.carousel-caption h1{
    font-size: 200%;
    text-transform: uppercase;
    font-weight: 500;
    color: #00ac8f;
    text-shadow: 1px 1px 10px #ffffff70;
}
.carousel-caption h3{
    font-size: 100%;
    text-shadow: 1px 1px 10px #000000ee;
}
.btn{
    font-size: 70%;
    padding: 2%;
  }
  textarea{
    margin-top: 1rem;
  }
  h2{
    font-size: 30px;
    width: 100%;
  }
  .about p{
    width: 100%;
    line-height: 25px;
    margin-bottom: 2rem;
  }
}

@media (max-width: 995px) {
  .contact button{
    margin-bottom: 2rem;
  }
  
  .nav-link:hover::after{
    content: '';
    display: block;
    border-bottom: 2px solid #13abc4;
    width: 25%;
    padding-bottom: 5px;
    margin-bottom: -7px;
    margin-left: 0;
  }
  .about button{
    margin-bottom: 1rem;
  }
}
